<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block tittle %} Unidad Educativa Eloy Alfaro{% endblock %} </title>
</head>
<body>
<h1> Unidad Educativa Eloy Alfaro</h1>
    <ul>
        <li>   <a href="/">Portada</a>              </li>
        <li>   <a href="/Unidad_Educativa/">Mision y Vision</a>   </li>
        <li>   <a href="/Administrador/">Gestion Academica y Alumnos</a>     </li>
        <li>   <a href="/LOGIN/">Usuario y Contraseña</a>     </li>
        <li>   <a href="/Carga_de_documentos/">Datos_personales</a>     </li>
    </ul>
</body>
</html>